@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["title"] = "مدیریت کاربران";
}


<h2>لیست کاربران</h2>
<a asp-controller="Users" asp-action="Create" class="btn btn-primary mb-3">Add New User</a>

<table class="table">
    <thead>
        <tr>
            <th>ایمیل آدرس</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <a href="/Users/Edit/@user.Id" class="btn btn-sm btn-warning">Edit</a>
                    <form asp-action="Delete" asp-route-id="@user.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
