@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Medium.ttf') format('truetype');
    font-weight: normal;
}

body {
    font-family: 'Vazir', sans-serif;
    font-size: 16px;
}

/* Force Latin digits in inputs */
input, textarea {
    font-family: 'Vazir', sans-serif; /* keep Persian letters */
    unicode-bidi: plaintext;
    font-feature-settings: "lnum"; /* forces numbers 0-9 */
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}