@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vazir';
    src: url('/fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Apply to body or other elements */
body {
    font-family: 'Vazir', sans-serif;
    min-height: 100vh;

}

/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px; /* reserve space for navbar */
    overflow-y: auto;
    transition: all 0.3s;
    z-index: 1000;
}

    .sidebar a {
        color: white;
        text-decoration: none;
    }

        .sidebar a:hover {
            background-color: #495057;
            color: white;
        }

/* Main content */
.content {
    margin-right: 250px;
    transition: all 0.3s;
}

/* Navbar inside content */
.top-navbar {
    z-index: 999;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .sidebar {
        right: -250px;
        top: 0;
        padding-top: 0;
    }

        .sidebar.show {
            right: 0;
        }

    .content {
        margin-right: 0;
    }

    .top-navbar {
        position: fixed;
        width: 100%;
    }
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}